/* .body {
    background-color: orange;
} */
#logo {
    position: relative;
width: 158px;
height: 95px;
left: 3.3%;
top: 0%;
z-index: 1;
}

#wd2 {
    position: absolute;
width: 1367px;
height: 34.93px;
left: -0.07%;
top: 9.5%;
bottom: 96.71%;
}

#sv {
    position: relative;
width: 1366px;
height: 722px;
left: 0%;
top: -47px;
z-index: -1; 
/* top: 47px; */
}

#orange {
    position: absolute;
width: 86px;
height: 83px;
left: 33.8%;
top: 367px;
z-index: 1;
}

#wt {
    position: absolute;
width: 80px;
height: 80px;
left: 33.9%;
top: 368px; 
}

#rec {
    position: absolute;
width: 1366px;
height: 92.51px;
left: 0%;
top: 0px;
}

#ideja {
    position: absolute;
width: 46px;
height: 24px;
left: 16%;
top: 49px;


font-weight: 500;
font-size: 20px;
line-height: 22px;

color: #060606;
}

#ps {
    position: absolute;
width: 130px;
height: 24px;
left: 20.3%;
top: 49px;


font-weight: 500;
font-size: 20px;
line-height: 22px;

color: #060606;
}

#uznemejiem {
    position: absolute;
width: 120px;
height: 24px;
left: 28.58%;
top: 49px;

font-weight: 500;
font-size: 20px;
line-height: 22px;

color: #060606;
}

#sb {
    position: absolute;
width: 123px;
height: 45px;
left: 36.7%;
top: 49px;

font-weight: 500;
font-size: 20px;
line-height: 22px;

color: #060606;
}

#sa {
    position: absolute;
width: 153px;
height: 45px;
left: 45%;
top: 49px;


font-weight: 500;
font-size: 20px;
line-height: 22px;

color: #060606;
}

#is {
    position: absolute;
width: 188px;
height: 29px;
left: 54.4%;
top: 49px;

font-weight: 500;
font-size: 20px;
line-height: 22px;

color: #060606;
}

#lv {
    position: absolute;
width: 29px;
height: 29px;
left: 67%;
top: 49px;

font-weight: 500;
font-size: 20px;
line-height: 22px;
text-align: center;

color: #060606;
}

#zanda {
    position: absolute;
width: 328px;
height: 355px;
left: 0%;
top: 1197px;
}

#sibilla {
    position: absolute;
width: 334px;
height: 364px;
left: 17.25%;
top: 1202px;
}

#alina {
    position: absolute;
width: 298px;
height: 184px;
left: 34.8%;
top: 1382px;
}

#bm {
    position: absolute;
width: 298px;
height: 180px;
left: 34.8%;
top: 1202px;
}

#anda {
    position: absolute;
width: 406px;
height: 383px;
left: 50.47%;
top: 1183px;
}

#text1 {
    position: absolute;
width: 654px;
height: 114px;
left: 19%;
top: 917px;


font-weight: 400;
font-size: 20px;
line-height: 22px;
text-align: center;

color: #2F4858;
}

#line3 {
    position: absolute;
width: 1366px;
height: 55px;
left: 0%;
top: 1526px;
transform: rotate(-180deg);
}

#vpss {
    position: absolute;
width: 394px;
height: 29px;
left: 12%;
top: 1731px;


font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #2F4858;
}

#vpkps {
    position: absolute;
    width: 500px;
    height: 29px;
    left: 37%;
    top: 1731px;
    

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #2F4858;
}

#obtn1 {
    position: absolute;
    width: 236px;
    height: 50px;
    left: 15.6%;
    top: 1810px;
}

#obtn2 {
    position: absolute;
    width: 236px;
    height: 50px;
    left: 43.5%;
    top: 1810px;
}

#vardsuzvards {
    position: absolute;
    border: 5px solid transparent;
    width: 270px;
    height: 30px;
    left: 13.5%;
    top: 110px;
    font-family: 'Calibri';
    font-weight: 100;
    font-size: 21px;
    color: #2F4858;
}

#epasts {
    position: absolute;
    border: 5px solid transparent;
    width: 270px;
    height: 30px;
    left: 52%;
    top: 110px;
    font-family: 'Calibri';
    font-weight: 100;
    font-size: 21px;
    color: #2F4858;
}

#telefons {
    position: absolute;
    border: 5px solid transparent;
    width: 270px;
    height: 30px;
    left: 13.5%;
    top: 168px;
    font-family: 'Calibri';
    font-weight: 100;
    font-size: 21px;
    color: #2F4858;
}

#jvk {
    position: absolute;
    border: 5px solid transparent;
    width: 500px;
    text-align:start;
    height: 30px;
    left: 13.5%;
    top: 225px;
    font-family: 'Calibri';
    font-weight: 100;
    font-size: 21px;
    color: #2F4858;
}

#oal {
    position: absolute;
    height: 30px;
    left: 12.5%;
    top: 453px;
    font-family: 'Calibri';
    font-weight: 100;
    font-size: 16px;
    color: #2F4858;
}

#check {
    position: absolute;
    text-align:start;
    left: 15%;
    top: 518px;
    opacity: 0;
}

#agree {
    position: absolute;
    height: 30px;
    left: 17.5%;
    top: 516px;
    text-align: left;
    line-height: 18px;
    font-family: 'Calibri';
    font-weight: 100;
    font-size: 16px;
    color: #2F4858;
}

#blue {
    position: absolute;
left: 0%;
width: 1366px;
height: 330px;
top: 3321px;
z-index: -1;
}

#bl {
    position: absolute;
left: 0%;
right: 0%;

width: 1366px;
top: 3260px;
z-index: 0;
}

#yl {
    position: absolute;
    width: 1366px;
    top: 2812px;  
    left: 0%;
}

#yellow {
    position: absolute;
    width: 1366px;
    height: 400px;
    top: 2870px; 
    left: 0%;
}

#sazinaties {
    position: absolute;
    width: 819px;
    height: 48px;
    left: 14.4%;
        right: 85.6%;
    top: 2010px;
    
    font-weight: 500;
    font-size: 31px;
    line-height: 44px;
    text-align: center;
    color: #2F4858;
}

#atb {
    position: absolute;
width: 394px;
height: 29px;
left: 25.6%;
top: 2927px;
color: #2F4858;
font-weight: 500;
font-size: 25px;
line-height: 36px;
text-align: center;
}


#wu {
    position: absolute;
    width: 1366px;
    height: 55px;
    left: 0%;
    top: 1526px;
    z-index: 1;
}

#wd {
    position: absolute;
width: 1366px;
height: 55px;

top: 1182px;
z-index: 1;
}

#teikums {
    position: absolute;
    width: 256px;
    height: 88px;
    left: 8.35%;
    top: 3042px;
}

#sem {
    position: absolute;
    width: 217px;
    height: 85px;
    left: 25.8%;
    top: 3042px;
}

#cb {
    position: absolute;
    width: 238.96px;
    height: 80px;
    left: 41.4%;
    top: 3045px;
}

#lin {
    position: absolute;
    width: 84.77px;
    height: 120px;
    left: 58.5%;
    top: 3026px;
}

#text2 {
    position: absolute;
    left: 20.1%;
    top: 3333px;
    color: white;
    /* font-size: 19px; */
    line-height: 44px;
}

#bsh {
    position: absolute;
    left: 33.8%;
    top: 3336px;
    color: white;
    font-weight: 10;
    /* font-size: 24px; */
    line-height: 44px;
}

#text3 {
    position: absolute;
    left: 33.8%;
    top: 3384px;
    color: white;
    /* font-size: 19px; */
    line-height: 33px;
}

#JG {
    position: absolute;
    left: 61.8%;
    top: 3336px;
    color: white;
    font-weight: 10;
    /* font-size: 24px; */
    line-height: 44px;
    text-align: right;
}

#text5 {
    position: absolute;
    left: 55.4%;
    top: 3384px;
    color: white;
    /* font-size: 19px; */
    line-height: 33px;
    text-align: right;
}

#sph {
    position: absolute;
left: 3.25%;
top: 3348px;
}

#shv {
    position: absolute;
    left: 3.3%;
    top: 3600px;


    /* font-weight: 10;
    font-size: 14px; */
    line-height: 17px;
}

#fb {
    position: absolute;
    left: 64.1%;
    top: 3530px;
}

#insta {
    position: absolute;
    left: 66.65%;
    top: 3530px;
}

#pp {
    position: absolute;
    left: 63%;
    top: 3617px;
    /* font-weight: 10;
    font-size: 14px; */
    line-height: 17px;
    text-align: right;
}

#sutitbtn {
    position: absolute;
width: px;
height: 62px;
left: 38.5%;
top: 606px;
}
